/src/test
/src/*.mod
/src/*.s
/src/*.o
/src/*.pyf
/src/*.so
/src/*.dll
/src/__pycache__
/src/*.npy
/src/*.png
/src/*.csv
/src/*.txt
/src/*.1234
/src/*.sh
/input/*
/tests/*.csv
/tests/*.1234
/tests/*.npy
.vscode
.python-version
