/src/test
/src/Makefile
/src/*.mod
/src/*.s
/src/*.o
/src/*.pyf
/src/*.so
/src/*.dll
/src/__pycache__
/src/*.npy
/src/*.png
/src/*.csv
/src/*.txt
/src/*.1234
/input/*
/tests/*.csv
/tests/*.1234
/tests/*.npy
.vscode
.python_version